config TARGET_AM57XX_ADVANTECH
	bool "Support Advantech platform"

if TARGET_AM57XX_ADVANTECH

config SYS_VENDOR
	default "ti"

config SYS_BOARD
	default "advantech"

if TARGET_EBC_GF33A1_2G
config SYS_BOARD_NAME
	string
	default "gf33a1"

config SYS_CONFIG_NAME
	default "am57xx_gf33a1"
endif

if TARGET_EBC_GF33B1_2G
config SYS_BOARD_NAME
	string
	default "gf33b1"

config SYS_CONFIG_NAME
	default "am57xx_gf33b1"
endif

if TARGET_ROM7510A1_2G
config SYS_BOARD_NAME
	string
	default "rom7510a1"

config SYS_CONFIG_NAME
	default "am57xx_rom7510a1"
endif

if TARGET_ROM7510A2_2G
config SYS_BOARD_NAME
        string
        default "rom7510a2"

config SYS_CONFIG_NAME
        default "am57xx_rom7510a2"
endif

config CONS_INDEX
        int "UART used for console"
        range 1 6
        default 3
        help
          The AM57x (and DRA7xx) SoC has a total of 6 UARTs available to it.
          Depending on your specific board you may want something other than UART3
          here.

source "board/ti/common/Kconfig"

endif
